.ui-state-focus {
  background: none !important;
  background-color: #4F99C6 !important;
  /*border: none !important;*/
}

div.swal2-content{
	font-size: 2.225em;
}

button.swal2-styled{
	font-size : 2.1em !important;
}